#debugフォルダ配下のHTMLファイルは調査用
debug/*.html

#pidファイル
*pid.txt
pid*.txt

#アーカイブ
*.7z
*.zip

#実行ファイル
*.exe

#動画ファイル
*.mp4
*.mp4*

ignore_my_preference.txt
.vscode/*
.DS_Store
*.lnk
*.bak
tver - Copy.csv
debug
debug/*

