html {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
	width: 800px;
	height: 108px;
	border-radius: 10px;
	background-color: #eee;
}

.logo {
	width: 58px;
	height: 58px;
	position: absolute;
	top: 10px;
	left: 10px;
	vertical-align: middle;
	background: #d8453e;
	display: flex;
	align-items: center;
	border-radius: 10px 0 0 10px;
}

.message {
	width: 722px;
	height: 58px;
	font-size: 11px;
	position: absolute;
	top: 10px;
	left: 68px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #333;
	border-radius: 0 10px 10px 0;
}

.v-center {
	margin: 5px;
	flex: 1;
}

.h-center {
	margin: 0 auto;
}

.button {
	position: absolute;
	top: 78px;
	left: 10px;
	width: 780px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
}

.refresh-button {
	font-size: 14px;
	width: 150px;
	height: 20px;
	text-align: center;
	color: #fff;
	background-color: #333;
	border: none;
	border-radius: 10px;
	margin: 0 auto;
}

.refresh-button:hover {
	font-size: 14px;
	width: 150px;
	height: 20px;
	text-align: center;
	color: #fff;
	background: #d8453e;
	border-radius: 10px;
}
